.o_report_layout_background{
    .invoice_tbody{
        font-size:12px;
        color:black;
        td{
            padding:4px 0px 4px;
        }
    }

    .sale_tbody{
        font-size:12px;
        color:black;
        td{
            padding:4px 0px 4px;
        }
    }
}